.overlay {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 1.5rem;
	height: 1.25em;
	width: 7.5em;
	border: none;
	line-height: 1em;
	background-color: rgb(1 0 0 / 0.5);
	text-align: center;
	color: red;
}
