.editor {
	width: 100%;
	flex-grow: 1;
	display: grid;
	grid-template-columns: 15rem 1fr;
	grid-template-rows: 2.5rem 1fr;
	grid-template-areas: "toolbar toolbar" "texteditor diagram";
	gap: 0.25rem;
	background-color: #2f751e;
}

.texteditor {
	grid-area: texteditor;
	background: white;
}

.toolbar {
	grid-area: toolbar;
	background-color: white;
	border-radius: 0.5rem;
}

.diagram {
	grid-area: diagram;
	// border: 0.125rem black solid;
	// border-radius: 0.5rem;
	overflow: hidden;
}
