.app {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.nav {
	display: flex;
	flex-direction: row;
	height: 2rem;
	align-items: center;
	gap: 1rem;
	padding-inline: 1rem;
	color: white;
	font-weight: bold;
	background: linear-gradient(
		120deg,
		rgba(47, 117, 30, 1) 0%,
		rgba(55, 134, 67) 55%,
		rgba(108, 60, 25, 1) 100%
	);
}
